
:root {
    font-size: 100%;
    --white-color : #e4e4e4ac;
    --right-side-up-height : 40vh;
    --div-form-height : 30vh;
    --right-side-height : 100vh;
}

@font-face {
    font-family: Norse-Bold ;
    src: url(Norse-Bold.otf);
}

:link {
    color: var(--white-color);
    font-weight: normal;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

:visited {
    color: var(--white-color);
}

body {
    margin: 0;
    width: 100vw;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;

}

.left-side {
    height: 100vh;
    width: 55vw;
    background-size: cover;
    background-position: right;
    background-image: url(logan-weaver-lgnwvr-5KK5h4WvkXQ-unsplash.jpg);
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.39);
    position: relative;
    top: 40%;
    height: 10%;
    font-family: Norse-Bold;
    letter-spacing: 5px;
    font-size: 5rem;
}

.div-logo > p {
    margin-bottom: 1.5cm;
}

div[class*="credit"] {
    color: var(--white-color);
    position: relative;
    top: 85%;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
}

.right-side {
    height: var(--right-side-height);
}

.right-side-up {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: var(--right-side-up-height);
    display: flex;
    align-items: end;
    text-align: start;
    background-color: var(--white-color);
}

.right-side-up > p {
    width: 95%;
    margin-left: auto;
    margin-bottom: 80px;
    margin-right: auto;
}

.div-form {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset {
    height: var(--div-form-height);
    border: none;
}

legend {
    font-size: 1.3rem;
}

fieldset > div {
    margin-top: 15px;
}

legend + div {
    display: flex;
}

.div-form-left-side, .div-form-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-form-right-side {
    margin-left: 20%;
}

div[class*="form-left"] > label, div[class*="form-right"] > label {
    font-size: 0.7rem;
}
div[class*="form-left"] > input, div[class*="form-right"] > input {
    margin-bottom: 30px;
    width: 130%;
    height: 20px;
    border-radius: 3px;
    border: 1px solid rgb(167, 164, 164);
}

div[class*="form-left"] > input:focus, div[class*="form-right"] > input:focus {
    box-shadow: 3px 5px 5px rgb(164, 164, 164);
}

div[class*="form-left"] > input:invalid, div[class*="form-right"] > input:invalid{
    border: 1px solid red;
}

fieldset + div {
    background-color: var(--white-color);
    box-shadow: inset 0px 5px 1px rgba(42, 38, 38, 0.055);
    height: 28vh;
}

.form-button button, .form-button button + p {
    margin-left: 15px;
}

.form-button button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 20px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(84, 185, 219);
    border: 1px solid rgb(84, 185, 219);
    box-shadow: 7px 5px 10px rgba(84, 83, 83, 0.4);
    cursor: pointer;
}

/* a[class*="account"] all a which contains account in the class attribute
a[class^="form-button-account"] all a which starts with form-button-account attribute
a[class$="link"] all a which ends with link in the class attribute */

a[class$="link"] {
    font-weight: bold;
    color: rgb(84, 185, 219);
    text-decoration: none;
    
}